li:first-child {
    background-color: red;
}

li:last-child {
    background-color: green;
}

li:nth-child(5)  {
    background-color: black;
}

li:nth-child(5) a  {
    color: white;
}

li:nth-child(even) a {
    color: grey;
}

li:nth-child(2) {
    text-decoration: line-through;
}

li:nth-child(4) a:hover {
    color: blue;
}